{
  "presets": ["latest", "react"],
  "plugins": [
    ["import", [{ "libraryName": "antd", "style": "css" }]],
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel", "transform-react-jsx-source", "transform-react-jsx-self"]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
