@import '../variables.css';

.App-header {
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.App-title {
  font-size: 18px;
  color: #fff;
  font-family: monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-main {
  text-align: center;
}
