/*import React from 'react';

import PlayerList from './PlayerList';
import PlayerDisplay from './PlayerDisplay';
import PlayerControl from './PlayerControl';


function Player() {
  return (
    <div className="Player">
      <PlayerList />
      <PlayerDisplay />
      <PlayerControl />
    </div>
  );
}


export default Player;*/
.Player {
  padding: 12px;
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

.Player-list {
  width: 200px;
}

.Player-main {
  width: 440px;
  display: flex;
  flex-direction: column;
}

.Player-display {
  flex: 1;
}
